* {
    margin: 0;
    overflow: hidden;
}

.account:link, .account:visited{
    color: green;
    text-decoration: none;
}

#doc {
    display: flex;
}

.image-sidebar {
    position: relative;
    width: calc(100vw / 3);
    height: 100vh;
}

.logo {
    position: absolute;
    width: 100%;
    height: 15%;
    background: rgb(0, 0, 0, 0.6);
    color: white;
    top: 40%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    color: white;
    font-family: 'Brush Script MT', cursive;
    font-size: 6rem;
    font-weight: bold;
}

.logo img {
    height: 80%;
    width: auto;
}

.image-sidebar .background {
    width: calc(100vw / 3);
    height: 100vh;
}

.image-sidebar footer {
    position: fixed;
    color: white;
    bottom: 2%;
    left: 9%;
}

.credit:link, .credit:visited {
    color: white;
}

.sign-up {
    display: flex;
    width: calc((100vw * 2) / 3);
    box-sizing: border-box;
    padding: 2%;
    gap: 5%;
    flex-direction: column;
    justify-content: center;
}